<div class="row">
  <div class="col-md-4 col-md-offset-4 form-login text-center" style="margin-top: 50px;">    
    <div class="center-block">
      <h2>Sign up</h2>
    </div>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.email_field :email, placeholder:"email", autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_field :username, placeholder: "Username", autocomplete: "off", class:"form-control" %>
      </div>

      <div class="form-group">
        <% for role in User::ROLES %>
          <label class="custom-control custom-checkbox">  
            <%= check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]", class: "custom-control-input"}  %>
            <%= label_tag "user_roles_#{role}", role.to_s.humanize %>
          </label> 
        <% end %>
        <%= hidden_field_tag "user[roles][]", "" %>
      </div>

      <div class="form-group">
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, placeholder:"Password", autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, placeholder:"Password Confirmation", autocomplete: "off", class:"form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class:"btn btn-success btn-block" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>