
<% @gatherings.each do |wedding| %>
    <tr>
      <td><%= wedding.guest_id %></td>
      <td><%= wedding.nama_peserta %> </td>
      <td><%= wedding.address %></td>
      <td><%= wedding.unit_kerja %></td>
      <td><%= wedding.instansi %></td>
      <td><%= wedding.nip %></td>
      <td><%= wedding.presence %></td>
      <td id="name_event" ><%= Event.where(id:wedding.event_id).select(:name).first.name %></td>
      <td>
      <%= link_to  print_qr_master_gatherings_path(guest_id: wedding.guest_id), remote: true do %>
          Print
        <% end %>

      </td>
    </tr>
<% end %>
