<%= render 'hadir-svg' %>
<div class="result-text">
  <p><span class="name"><%= @find_guest[0].name %></span></p>
  <p><span class="name">Souvenir : <%= @find_guest[0].souvenir_text %></span></p>
</div>