$("#total_guest").html("<%= @total_guest.present? ? @total_guest:"-" %>");
$("#guest_sudah_hadir").html("<%= @guest_sudah_hadir.present? ? @guest_sudah_hadir:"-" %>");
$("#guest_belum_hadir").html("<%= @guest_belum_hadir.present? ? @guest_belum_hadir:"-" %>");
toastr['info']('Refresh data berhasil');