
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Event
    </h3>
  </div>
  <div class="panel-body">
    <hr>
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-2"></div>
      <label class="col-sm-1 control-label">Tambahan search:</label>
      <div class="col-sm-3">
        <div class="form-group form-group--select">
          <div class="select">
            <%= select_tag "wedding_search","<option value='default'>Choose...</option><option>Alamat</option><option>Kategori</option>".html_safe,:class=>"form-control" %>          
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-6">
        <div class="groups__item">
          <%= form_tag  search_gatherings_path, method:'GET', class:'form-horizontal', id:'form-search', remote: true do  %>
            <div class="form-group" id="Name">
              <label class="col-sm-2 control-label">Name</label>
              <div class="col-sm-8">
                <%= text_field_tag 'name_search',nil,{class:"form-control form-control-sm", placeholder:"Input name"} %>
              </div>
            </div>
            <div class="form-group" id="Alamat">
              <label class="col-sm-2 control-label">Alamat</label>
              <div class="col-sm-8">
                <%= text_field_tag 'alamat_search',nil,{class:"form-control form-control-sm", placeholder:"Input alamat"} %>
              </div>
              <div class="checkbox col-sm-2">
                <label>
                  <%= check_box_tag 'check_alamat',1,true %>
                </label>
              </div>              
            </div> 
            <div class="form-group" id="Kategori">
              <label class="col-sm-2 control-label">Kategori</label>
              <div class="col-sm-8">
                <%= text_field_tag 'kategori_search',nil,{class:"form-control form-control-sm", placeholder:"Input kategori"} %>
              </div>
              <div class="checkbox col-sm-2">
                <label>
                  <%= check_box_tag 'check_kategori',1,true %>
                </label>
              </div>              
            </div>        
          <% end %>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-lg-4 col-sm-4 col-6">
        <%= button_tag 'Apply', class:'btn btn-success', id: 'search_master_wedding' %>
      </div>
    </div>
    <table class="table table-hovered table-bordered margin10">
      <thead class="thead-default">
        <tr>
          <th>Id</th>
          <th>Nama</th>
          <th>Alamat</th>
          <th>Unit Kerja</th>
          <th>Instansi</th>
          <th>NIP</th>
          <th>Kehadiran</th>
          <th>Event</th>
          <th>Print QR</th>
        </tr>
      </thead>
      <tbody id='list_wedding'>
        <%= render 'list_wedding' %>
      </tbody>
    </table>

    <%= paginate @gatherings %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
  $("#Alamat").hide();
  $("#Kategori").hide();
  $("#wedding_search option[value=default]").attr('selected','selected');
  $("#wedding_search").on("change",function(event) {
    var value_selected = $(this).find(":selected").text();
    if(value_selected == "Alamat"){
      $("#Alamat").show();
      $("#check_alamat").prop('checked', true);
    }
    if(value_selected == "Kategori"){
      $("#Kategori").show();
      $("#check_kategori").prop('checked', true);
    }
  });
  $("#check_alamat").on("change",function(){
    if(this.checked == false){
      $("#Alamat").hide();
      $('#alamat_search').val('');
      $("#wedding_search option[value=default]").prop('selected',true);
    }
  });
  $("#check_kategori").on("change",function(){
    if(this.checked == false){
      $("#Kategori").hide();
      $('#kategori_search').val('');
      $("#wedding_search option[value=default]").prop('selected',true);
    }
  });
  $('#search_master_wedding').on('click',function(event){
    var val_alamat = $('#alamat_search').val(), val_name = $('#name_search').val(), val_kategori = $('#kategori_search').val();
    var data = '{'
      +'"data_search" :'+'{'
        +'"name" :'+'"'+val_name+'"'+','
        +'"alamat" :'+'"'+val_alamat+'"'+','
        +'"kategori" :'+'"'+val_kategori+'"'
      +'}'
    +'}'
    var all_data = '{'
      +'"data_search" :'+'{'
        +'"data" :'+'"all"'
      +'}'
    +'}'
    if(val_alamat == '' && val_name == '' && val_kategori == ''){
      $.get('/gatherings/new',{ search: all_data  }).done(function(){
        $('#alamat_search').val('');
        $('#name_search').val('');
        $('#kategori_search').val('');
      });
    }else{
      $.get('/gatherings/new',{ search: data }).done(function(){
        $('#alamat_search').val('');
        $('#name_search').val('');
        $('#kategori_search').val('');
      });
    }
  });

});

</script>