<%= form_with(model: event, local: true, class: 'form-horizontal') do |f| %>  
    <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <div class="form-group">
    <label class="col-sm-2 control-label">Nama</label>
    <div class="col-sm-10">
      <%= f.text_field :name, class:"form-control form-control-sm", placeholder:"Input nama event" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Tanggal</label>
    <div class="col-sm-10">
      <%= f.text_field :event_date, class:"form-control", id: "date-picker", placeholder:"Pick a date" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Pemilik Event</label>
    <div class="col-sm-10">
      <%= f.text_field :event_owner, class:"form-control form-control-sm", placeholder:"Masukkan nama pemilik event" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Jenis Event</label>
    <div class="col-sm-10">
      <%= f.collection_select( :type_of_event_id, TypeOfEvent.all, :id, :name, {:include_blank => true}, {:class => 'form-control select2'}) %>
    </div>
  </div>
  

  <div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <%= link_to 'Kembali',events_path, class: 'btn btn-danger' %>
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>

  <% end %>