<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> Events 
      <%= link_to 'New Event', new_event_path, class:"btn btn-primary btn-sm pull-right"%></h3>
  </div><br>

  <%= form_tag events_path, method: "GET" do %>
    <% 5.times do %>
      <div class="col-sm-2"></div>
    <% end %>
    <div class="col-sm-2">
      <%= text_field_tag :name, params[:name], class: "form-control form-control-sm", placeholder: "Search" %>
    </div>
  <% end %><br>

  <div class="panel-body">
    <table class="table table-hovered table-bordered margin10">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Event Owner</th>
          <th>Status</th>
          <th>Type Event Id</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= event.date %></td>
            <td><%= event.event_owner %></td>
            <td><%= event.status %></td>
            <td><%= event.type_of_event.name %></td>
            <td>
              <div class="btn-group" role="group" aria-label="...">
                <%= link_to 'Edit', edit_event_path(event),{class:"btn btn-success btn-sm"} %></button>
                <button type="button" class="btn btn-delete btn-sm" onclick="button_delete(<%= event.id %>)">Delete</button>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @events %>
  </div>
</div>

<script type="text/javascript">
  let button_delete = (id)=>{
    if(confirm('Are u sure want to delete that event?')){
      $.ajax({
        url:"/events/"+id,
        method:'DELETE'
      }).done( () => window.location.href = "/events");
    }
  }
</script>

