<div class="panel panel-default">
  <div id="infoAlert"></div>
  <div class="panel-heading">
    <h3 class="panel-title">
      Settings
      <%= button_tag 'No Print', class: 'btn btn-primary btn-sm pull-right', onclick: "handleNoPrint(#{@setting.id})" %>
      <%= button_tag 'Reset', class: 'btn btn-danger btn-sm pull-right', id: 'reset', onclick: "handleReset()" %>
    </h3>    
  </div>
  <div class="panel-body">
    <h4>Aktifasi Event</h4>
    <hr>
    <div class="alert alert-info">
      <% if @event_active.present? %>
        Event yang sedang aktif : <strong><%= @event_active.name.present? ? @event_active.name : '' %></strong>
      <% end %>
    </div>
    <table class="table table-hovered table-bordered margin10">
      <thead class="thead-default">
        <tr>
          <th>Nama</th>
          <th>Tanggal</th>
          <th>Pemilik Event</th>
          <th>Jenis</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
      <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= event.date %></td>
            <td><%= event.event_owner %></td>
            <td><%= event.type_of_event.name %></td>
            <td><%= link_to 'Aktifkan', aktifasi_setting_path(event.id), method: :put, class:'btn btn-success' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= form_for(@setting, remote:true) do |f| %>
      <div class="form-group">
        <%= f.label "Title" %>
        <%= f.text_field :custom_one_text,{class:"form-control"} %> <br />
      </div>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>

    <%= form_for(@check_box_settings, remote:true) do |f| %>
      <div class="form-check">
        <%= f.check_box :no_undian, {class:"form-check-input"}, true, false %>
        <%= f.label :no_undian, {class:"form-check-label"} %>
      </div>
      <div class="form-check">            
        <%= f.check_box :nama_meja, {class:"form-check-input"}, true, false %>
        <%= f.label :nama_meja, {class:"form-check-label"} %>
      </div>
      <div class="form-check">
        <%= f.check_box :nama_undangan, {class:"form-check-input"}, true, false %>
        <%= f.label :nama_undangan, {class:"form-check-label"} %>
      </div>
      <div class="form-check">
        <%= f.check_box :jumlah_souvenir, {class:"form-check-input"}, true, false %>
        <%= f.label :jumlah_souvenir, {class:"form-check-label"} %>
      </div>
      <div class="form-group">
        <%= f.check_box :nama_angpao, {class:"form-check-input"}, true, false %>
        <%= f.label :nama_angpao,{class:"form-check-label"} %>
      </div>
      
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
    
    <%= form_for(@display, remote:true) do |f| %>
      <div class="form-group">
        <%= f.check_box :nama, {class:"form-check-input"}, true, false %>
        <%= f.label :nama,{class:"form-check-label"} %>
      </div>
      <div class="form-group">  
        <%= f.check_box :alamat, {class:"form-check-input"}, true, false %>
        <%= f.label :alamat, {class:"form-check-label"}  %>
      </div>
      <div class="form-group">
        <%= f.check_box :nomor_ponsel, {class:"form-check-input"}, true, false %>
        <%= f.label :nomor_ponsel,{class:"form-check-label"} %>
      </div>
      <div class="form-group">
        <%= f.check_box :kategori,{class:"form-check-input"}, true, false %>
        <%= f.label :kategori,{class:"form-check-label"}  %>
      </div>
      <div class="form-group">
        <%= f.check_box :status, {class:"form-check-input"}, true, false %>
        <%= f.label :status,{class:"form-check-label"} %>
      </div>
      <div class="form-group">
        <%= f.check_box :nama_meja, {class:"form-check-input"}, true, false %>
        <%= f.label :nama_meja,{class:"form-check-label"} %>
      </div>
      <div class="form-group">
        <%= f.check_box :guest_id, {class:"form-check-input"}, true, false %>
        <%= f.label :guest_id,{class:"form-check-label"} %>
      </div>
      <div class="form-group">
        <%= f.check_box :souvenir, {class:"form-check-input"}, true, false %>
        <%= f.label :souvenir, {class:"form-check-label"} %>
      </div>
      <div class="form-group">  
        <%= f.check_box :jumlah_souvenir, {class:"form-check-input"}, true, false %>
        <%= f.label :jumlah_souvenir, {class:"form-check-label"} %>
      </div>
      <div class="form-group">
        <%= f.check_box :nama_angpao, {class:"form-check-input"}, true, false %>
        <%= f.label :nama_angpao, {class:"form-check-label"} %>
      </div>
      <div class="form-group">  
        <%= f.check_box :no_undian, {class:"form-check-input"}, true, false %>
        <%= f.label :no_undian,{class:"form-check-label"}  %>
      </div>
      <div class="form-group">
        <%= f.check_box :jumlah_undangan, {class:"form-check-input"}, true, false %>
        <%= f.label :jumlah_undangan,{class:"form-check-label"} %>
      </div>
      <div class="form-group">  
        <%= f.check_box :jabatan, {class:"form-check-input"}, true, false %>
        <%= f.label :jabatan,{class:"form-check-label"} %>
      </div>
      
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  
  
  </div>
</div>
<script>

  let handleNoPrint = (id) => {
     $.ajax({
      url: '/settings/'+id,
      method: 'PUT',
      data: { no_print: true }
    })   
  }

  $(".one .tile .text").click(function(){
    let data = {};
    $(this).find("p").each(function(){
      handleStructureObjectData($(this).attr("id"),data)
    });

    $.ajax({
      url: '/settings/'+ $(".one").find("input").val(),
      method: 'PUT',
      data: { data }
    })
  });

  $(".two .tile .text").click(function(){
    let data = {};
    
    $(this).find("p").each(function(){
      handleStructureObjectData($(this).attr("id"),data)
    });

    $.ajax({
      url: '/settings/'+ $(".one").find("input").val(),
      method: 'PUT',
      data: { data }
    })    
  
  });

  let handleReset= () =>{
    if(confirm('Are u sure want to reset?')){
      $.ajax({
        url:'/settings/reset',
        method:'GET'
      }).done( () => toastr['info']('Reset Successfull'));
    }
  }


  function handleStructureObjectData(obj,data){
    if (obj == 1){ data.no_undian = true }
    if (obj == 2){ data.nama_meja = true }
    if (obj == 3){ data.nama_undangan = true }
    if (obj == 4){ data.jumlah_souvenir = true }
    if (obj == 5){ data.nama_angpao = true } 
  }
</script>

