<% @concerts.each do |concert| %>
  <tr>
    <td><%= concert.guest_id %></td>
    <td><%= concert.nama %> </td>
    <td><%= concert.alamat %></td>
    <td><%= concert.no_ponsel %></td>
    <td><%= concert.jenis_tiket %></td>
    <td><%= concert.presence %></td>
    <td id="name_event" ><%= Event.where(id:concert.event_id).select(:name).first.name %></td>
    <td>
    <%= link_to print_qr_master_concerts_path(guest_id: concert.guest_id), remote: true do %>
        Print
      <% end %>

    </td>
  </tr>
<% end %>
