<%= render 'hadir-svg' %>
<div class="result-text">
  <% if @find_guest[0].guest_id != nil %><p><span class="name"><%= @find_guest[0].guest_id %></span></p><% end %>
  <% if @find_guest[0].guest_id != nil %><p><span class="name"><%= @find_guest[0].name %></span></p><% end %>
  <% if @find_guest[0].guest_id != nil %><p><span class="name"><%= @find_guest[0].name_1 %></span></p><% end %>
  <% if @find_guest[0].guest_id != nil %><p><span class="name"><%= @find_guest[0].category %></span></p><% end %>
  <% if @find_guest[0].guest_id != nil %><p><span class="name"><%= @find_guest[0].class_user %></span></p><% end %> 
  <% if @find_guest[0].guest_id != nil %><p><span class="name"><%= @find_guest[0].jenis_tiket %></span></p><% end %>
  <% if @find_guest[0].guest_id != nil %><p><span class="name"><%= Time.now() %></span></p><% end %>  
</div>