<div class="row dashboard-header">
 <div class="col-md-12">
  <h3>DASHBOARD
  <%= link_to dashboard_gatherings_path, class: 'btn btn-primary pull-right',remote: true do %>
    <i class="fa fa-refresh"></i> Refresh
  <% end %>
  </h3>
<hr/>
 </div>
</div>

<div class="row">

  <div class="col-md-3 col-sm-6">
    <div class="panel-dashboard biru">
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-users fa-5x"></i>
        </div>
        <div class="col-sm-8">
          <small>TOTAL</small>
          <p id="total_guest"><%= @total_guest.present? ? @total_guest:"-" %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="panel-dashboard hijau">
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-check-square fa-5x"></i>
        </div>
        <div class="col-sm-8">
          <small>HADIR</small>
          <p id="guest_sudah_hadir"><%= @guest_sudah_hadir.present? ? @guest_sudah_hadir:"-" %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="panel-dashboard merah">
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-times fa-5x"></i>
        </div>
        <div class="col-sm-8">
          <small>BELUM HADIR</small>
          <p id="guest_belum_hadir"><%= @guest_belum_hadir.present? ? @guest_belum_hadir:"-" %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="panel-dashboard kuning">
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-american-sign-language-interpreting fa-5x"></i>
        </div>
        <div class="col-sm-8">
          <small>JUMLAH PENUKARAN TICKET</small>
          <p id="jumlah_souvenir"><%= @jumlah_souvenir.present? ? @jumlah_souvenir:"-" %></p>
        </div>
      </div>
    </div>
  </div>
  
</div>