$("#notice").html("<%= escape_javascript(render 'hadir') %>")

<% if @settingan.no_undian == TRUE ||  @settingan.nama_meja == TRUE || @settingan.nama_undangan == TRUE || @settingan.custom_one == TRUE || @settingan.custom_two == TRUE || @settingan.custom_three == TRUE || @settingan.custom_four == TRUE || @settingan.custom_five == TRUE %>
  window.open("<%= print_concerts_path({:guest_id=>@find_guest.first.guest_id}) %>",'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=200,height=120');
<% end %>