<div class="row">
  <div class="col-md-4 col-md-offset-4 form-login text-center">
    <%= image_tag('logo.png', class: 'img img-responsive center-block') %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.text_field :username, placeholder: "Username", autofocus: true, autocomplete: "username", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>