<%= render 'already-svg' %>
<div class="result-text">
  <p><span class="name"><%= @find_guest[0].nama %> sudah hadir</span></p>
  <%= link_to reprint_weddings_path(guest_code: @find_guest[0].guest_id), remote: true do %>
    <%= image_tag('print.ico', style: 'width:70px; height: auto;', title: 'Print Ulang') %>
  <% end %>
</div>