<% @weddings.each do |wedding| %>
    <tr>
      <td><%= wedding.guest_id %></td>
      <td><%= wedding.nama %> </td>
      <td><%= wedding.alamat %></td>
      <td><%= wedding.nomor_ponsel %></td>
      <td><%= wedding.kota %></td>
      <td><%= wedding.kategori %></td>
      <td><%= wedding.status %></td>
      <td><%= wedding.nama_meja %></td>
      <td><%= wedding.presence %></td>
      <td id="name_event" ><%= Event.where(id:wedding.event_id).select(:name).first.name %></td>
      <td>
      <%= link_to print_qr_master_weddings_path(guest_id: wedding.guest_id), remote: true do %>
          Print
        <% end %>

      </td>
    </tr>
<% end %>
