<section class="scanning">
  <div class="input-qr col-sm-12">
    <%= form_tag print_qr_weddings_path, method: "GET", remote: true do %>
      <%#text_field_tag "guest_qr",nil, class:"form-control", autofocus:"true" %>
      <%= collection_select(:guest_qr, :id, Guest.joins(event: :type_of_event).where("type_of_events.name ilike '%Wedding%'").where("events.status = TRUE"),
                  :nama, :nama,
                 {:prompt => ''}) %>
    <% end %>
  </div>
  <div>
  <div class="active-wedding" style="padding-top: 77px !important;" >
    <h4><span class="active-wedding-name" style="font-size:25px !important;"><%= Setting.first.custom_one_text %></span></h4>
  </div>
  <div id="notice" style="padding-top: 23px;">
    
  </div>
  </div>
  <div class="input-guest col-sm-12">
    <%= form_tag update_presence_weddings_path, method: "GET", id: 'form_scanning', remote: true do %>
      <%= text_field_tag "guest_code",nil, class:"form-control", autofocus:"true" %>
    <% end %>
  </div>
</section>
<script>
  $("#submit_presence").click(function(){
    if($("#guest_code").val() == "" || $("#guest_code").val() == undefined ){
      alert("Input cannot be null");
    }else{
      $(this).attr('href','/guests/print_no_undian?guest_code='+$("#guest_code").val());
      window.open($(this).attr('href'),'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=350,height=250');
    }
  });
  $("#guest_qr_id").change(function(){
    $.ajax({
      type: 'GET',
      url: '/weddings/print_qr',
      data: {guest_qr: $(this).val()},
    });
  });
  $(document).ready(function(){
    $('#guest_qr_id').select2();

    $("#form_scanning").bind("ajax:complete", function(event,xhr,status){
      $('#guest_code').val('');
    });
  });
</script>
