$("#notice").html("<%= escape_javascript(render 'hadir') %>")
window.open("<%= print_weddings_path({:guest_id=>@find_guest.first.guest_id}) %>",'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=200,height=120');
