<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Reddonedigital</title>

    <!-- Bootstrap -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-presence">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img alt="Reddonedigital" src="<%= image_path('logo.png') %>">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if can? :manage, :all or can? :manage, Event or can? :manage, TypeOfEvent %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Master <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="<%= type_of_events_path %>">Jenis Event</a></li>
                  <li><a href="<%= events_path %>">Event</a></li>
                  <li><a href="<%= guests_path %>">Guest</a></li>
                </ul>
              </li>
            <% end %>
            <li><a href="<%= settings_path %>">Setting</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wedding<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<%= dashboard_weddings_path %>">Dashboard</a></li>
                <li><a href="<%= weddings_path %>">Kehadiran</a></li>
                <li><a href="<%= new_wedding_path %>">Master</a></li>
                <li><a href="<%= souvenir_weddings_path %>">Souvenir</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Concert<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<%= dashboard_concerts_path %>">Dashboard</a></li>
                <li><a href="<%= concerts_path %>">Kehadiran</a></li>
                <li><a href="<%= new_concert_path %>">Master</a></li>
                <li><a href="<%= souvenir_concerts_path %>">Penukaran Ticket</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gathering<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<%= dashboard_gatherings_path %>">Dashboard</a></li>
                <li><a href="<%= gatherings_path %>">Kehadiran</a></li>
                <li><a href="<%= new_gathering_path %>">Master</a></li>
                <li><a href="<%= report_gatherings_path %>">Report</a></li>
                <li><a href="<%= pengaturan_gatherings_path %>">Pengaturan</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <% if can? :manage, :all or can? :read,:all %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Report<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="<%= report_weddings_path %>">Wedding</a></li>
                  <!--<li><a href="#">Konser</a></li>
                  <li><a href="#">Tasyakuran</a></li>-->
                </ul>
              <% end %>
            </li>
            <% if user_signed_in? %>
              <li>
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
              </li>
            <% else %>
              <li>
              <%= link_to('Login', new_user_session_path)  %>  
              </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <% unless flash.empty? %>
        <script type="text/javascript">
          <% flash.each do |f| %>
            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
            toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
        </script>
    <% end %>
    <%= yield %>
  </body>
</html>
